/* --- [Globals] --- */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

/* --- [Widget Container] --- */
chatbox {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}
