/* --- [Globals] --- */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: '{customFont}', '{googleFont}', Arial, sans-serif;
}

/* --- [Widget Container] --- */
chatbox {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}
chatbox.top2Bottom {
  flex-direction: column-reverse;
  justify-content: flex-end;
}
chatbox.top2Bottom chat:last-of-type {
  margin-top: 0;
}
chatbox.top2Bottom chat:first-of-type {
  margin-bottom: 0;
}
chatbox.bottom2Top {
  flex-direction: column;
  justify-content: flex-end;
}
chatbox.bottom2Top chat:last-of-type {
  margin-bottom: 0;
}
chatbox.bottom2Top chat:first-of-type {
  margin-top: 0;
}
chatbox.bordered chat header {
  border: solid {borderWidth}px {chatBackground};
  border-bottom: none;
}
chatbox.bordered chat message {
  border: solid {borderWidth}px {chatBackground};
  border-top: none;
}
chatbox.round chat header {
  border-top-left-radius: {cornerRadius}px;
  border-top-right-radius: {cornerRadius}px;
}
chatbox.round chat message {
  border-bottom-left-radius: {cornerRadius}px;
  border-bottom-right-radius: {cornerRadius}px;
}
chatbox.wrap message {
  -webkit-animation: wrap {animationDuration}s ease-in-out;
          animation: wrap {animationDuration}s ease-in-out;
}
chatbox.pop chat {
  -webkit-animation: pop {animationDuration}s ease-in-out;
          animation: pop {animationDuration}s ease-in-out;
}
chatbox.spin chat {
  -webkit-animation: spin {animationDuration}s ease-in-out;
          animation: spin {animationDuration}s ease-in-out;
}
chatbox.fade chat {
  -webkit-animation: fade {animationDuration}s ease-in-out;
          animation: fade {animationDuration}s ease-in-out;
}
chatbox chat {
  display: flex;
  flex-direction: column;
  margin: {marginChat}px 0;
}

/* --- [Header container] --- */
chatbox chat header {
  background: {chatBackground};
  font-size: {usernameSize}px;
  display: flex;
  justify-content: space-between;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  align-items: center;
}
chatbox.right chat header {
  flex-direction: row-reverse;
}
chatbox.left chat header {
  flex-direction: row;
}
chatbox chat header username {
  font-weight: bold;
  margin: 0 5px;
}
chatbox chat header badges {
  margin-bottom: -0.2em;
  margin-right: 5px;
}
chatbox chat header badges img {
  height: 1.5em;
  margin: 0 0.25ch;
}

/* --- [Message] --- */
chatbox chat message {
  color: {messageColor};
  font-size: {messageSize}px;
  padding: 2.5px 5px;
  overflow: clip;
  overflow-wrap: break-word;
  background: {messageBackground};
  vertical-align: top;
}
chatbox chat message img {
  height: 2em;
  margin-left: 0.25ch;
  margin-right: 0.25ch;
  vertical-align: bottom;
}

/* --- [Animations] --- */
@-webkit-keyframes wrap {
  0% { max-height: 0; }
  100% { max-height: 100vmin; }
}
@keyframes wrap {
  0% { max-height: 0 }
  100% { max-height: 100vmin; }
}
@-webkit-keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes pop {
  0% { 
    transform: scale(0.5);
    opacity: 0;
  }
  70% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pop {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  70% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotateX(90deg);
  }
  70% {
    transform: rotateX(-40deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes spin {
  0% {
    transform: rotateX(90deg);
  }
  70% {
    transform: rotateX(-40deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}